<hr>
<!--<iframe width="600" height="340" src="https://www.youtube.com/embed?max-results=1&controls=0&showinfo=0&rel=0&listType=user_uploads&list=UC0kUKcP_9v4_WfhyDAN5DOg" frameborder="0" allowfullscreen></iframe>-->

<!--<iframe class="latestVideoEmbed" vnum='0' cid="UC0kUKcP_9v4_WfhyDAN5DOg" width="600" height="340" frameborder="0" allowfullscreen></iframe>

<iframe class="latestVideoEmbed" vnum='1' cid="UC0kUKcP_9v4_WfhyDAN5DOg" width="600" height="340" frameborder="0" allowfullscreen></iframe>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->


<!--<div class="video-responsive">
	<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe class="latestVideoEmbed" vnum='0' cid="UC0kUKcP_9v4_WfhyDAN5DOg" frameborder="0" allowfullscreen></iframe></div>
</div>
<hr>
<div class="video-responsive">
	<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe class="latestVideoEmbed" vnum='1' cid="UC0kUKcP_9v4_WfhyDAN5DOg" frameborder="0" allowfullscreen></div>
	

</div>-->


<!--<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe class="latestVideoEmbed" vnum='0' cid="UC0kUKcP_9v4_WfhyDAN5DOg" frameborder="0" allowfullscreen></iframe>
<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe class="latestVideoEmbed" vnum='1' cid="UC0kUKcP_9v4_WfhyDAN5DOg" frameborder="0" allowfullscreen></iframe>
<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe class="latestVideoEmbed" vnum='2' cid="UC0kUKcP_9v4_WfhyDAN5DOg" frameborder="0" allowfullscreen></iframe>-->

<div class="video-responsive">
    <!--<p align="left" style="width:40%;">-->
      <iframe class="latestVideoEmbed" vnum='0' cid="UC0kUKcP_9v4_WfhyDAN5DOg" width="500" height="300" frameborder="0" allowfullscreen></iframe>
      </div>
      <hr>
<div class="video-responsive">
      <iframe class="latestVideoEmbed" vnum='1' cid="UC0kUKcP_9v4_WfhyDAN5DOg" width="500" height="300" frameborder="0" allowfullscreen></iframe>
    <!--</p>-->
  </div>